.blue{
     /**
     * 侧边栏全局颜色变量    
     */
    --theme-base-text-color: #000000;
    --theme-bars-btn-text-color: blue;
    --theme-menus-group-title-text-color: #64854c;
    --theme-menus-group-list-item-color: #333;
}
