.global-theme-green{
    /**
     * 头部全局颜色    
     */
    --nav-container-bg-color: #325304;
    --nav-container-bg-right-color: #64854c;
    /**
     * 侧边栏全局颜色变量    
     */
    --theme-base-text-color: #000000;
    --theme-bars-btn-text-color: #325304;
    --theme-menus-group-title-text-color: #64854c;
    --theme-menus-group-list-item-color: #333;
}
